@font-face {
  font-family: 'FuturaHead';
  font-weight: 700;
  src: url('../fonts/Bitstream - Futura MdCn BT Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'TypefaceSix', 'Raleway', sans-serif;
	font-weight: 700;
	src: url('../fonts/typefacesix.ttf') format('truetype');
}

@font-face {
	font-family: 'FuturaBoldHead';
	font-weight: 700;
	src: url('../fonts/Bitstream - Futura Hv BT Heavy.ttf') format('truetype');
}