---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>

  <div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="../img/one-solution.svg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>The coffee you want, when you need it</h1>
    </div>

  </div>
</div>
<div class="business_size">
  <h1>SELECT YOUR BUSINESS SIZE</h1>
  <p>Whether you're a thriving startup, a foodservice provider or a national corporation, we serve the perfect cup for your success.</p>
  </div>

<div class="container1">

<div class="small"></div>

<div class="medium"></div>

<div class="large"></div>

</div>

{% include whychoosehero.html %}

{% include varsusindex.html %}

</body>
    {% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>