---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>
<div class="lrgvidcontainer" data-vide-bg="mp4:../videos/wall.mp4, poster: ../img/hero.jpeg" data-vide-options="loop: true, muted: true, position: 0 -5em">
<h1>50+ EMPLOYEES</h1>	
<h3>Save time. Gain control.
</h3>
</div>

<div class="lrgbuswrap">
<div class="officehero">
	<h2>The Complete Solution</h2>
	<p>As Canada's leading one-stop coffee service provider, we know that your company's needs are manifold and unique. That's why our turnkey solutions are customized to cover every aspect of your coffee experience, complete with condiments, snacks and water filtration systems. 
</p>
	<a href="#" class="freeTrialButton">Free Trial</a>
</div>
<div class="easeofmind">
	<h2>Ease of Mind</h2>
	<p>From our easy-to-use equipment to our straightforward service, we give your workplace all the perks of a reliable coffee solution without any hassle. Our secure online ordering website lets you manage your stocking needs at your own pace and convenience, while our innovative brewers leave you with no mess to clean up. All you get is the perfect brew, every time.

</p>
	<a href="#" class="freeTrialButton">Free Trial</a>

</div>
<div class="equipmentneed">
	<h2>Variety</h2>
	<p>Our range of reliable, high-performance brewing systems are all designed to enhance your coffee experience with innovation and simplicity. Explore our options to find the best fit for your needs.

</p>
	<a href="#" class="freeTrialButton">Free Trial</a>

</div>
<div class="rangeofservices">
	<h2>Full range of services</h2>
	<p>From our prompt, one-on-one service to our personalized programs tailored to your needs, we take charge of your complete coffee care by covering all the bases. Learn more about our options to get started now.</p>
	<a href="#" class="freeTrialButton">Free Trial</a>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/jquery.vide.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
    {% include footer.html %}

</html>