---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>
 <div class="servicespagewrap">
		
	<div class="servicespagehero">
	<h1>ONE SOLUTION FOR EVERY NEED
		</h1>
		<h3>Begin your FREE trial today to have a coffee expert help determine the perfect solution for you.</h1>
	</div>	
	<div class="calldelivery">
		<h3>CALL / DELIVERY SERVICE</h3>
		<p>With our Call / Delivery Service, you can schedule a regular time and frequency for orders done at your convenience. Your Account Manager will call you at the appointed time to place your order, which we'll deliver at your convenience.</p>
	</div>

	<div class="routedservices">
		<h3>ROUTED SERVICE</h3>
		<p>With our Routed Service option, you don't have to worry about a thing. Simply sit back, relax and rely on your Route Service Representative, who will help you to determine your product and service needs. With regularly scheduled visits from your RSR, you're guaranteed to have an inventory that is replenished when needed and equipment that is maintained to run smoothly.</p>
	</div>

	<div class="prewriteservices">
		<h3>PRE-WRITE SERVICE</h3>
		<p>Our Pre-write Service allows you to enjoy all of the benefits of regular inventory checks and timely deliveries without any of the hassle. With this solution, an Office Coffee Services representative will determine your product requirements based on experience or in accordance with previously determined inventory levels. </p>
	</div>

	<div class="fullservice">
		<h3>FULL SERVICE</h3>
		<p>This entirely hands-free coffee solution gives your company the benefit of a dedicated coffee representative who will manage your inventory, clean your equipment, collect payments and modify your program as needed. By visiting your location on a regular basis to ensure the quality of your care, your dedicated representative makes your coffee solution a completely worry-free experience. 
</p>
	</div>
	<div class="getstarted">
		<h3>Ready to get started?</h3>
		<a href="#">Click here to start your free trial!</a>
	</div>
</div>
</body>
    {% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>