---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>
<div class="suscontainer">
<div class="susvidcontainer" data-vide-bg="mp4: https://0.s3.envato.com/h264-video-previews/2629873.mp4, poster: https://stocksnap.io/img-thumbs/960w/GO22NAAKSU.jpg" data-vide-options="loop: true, muted: true, position: 0 -5em">
<h1>Sustainability</h1>	
<h3>SUSTAINABLE BUSINESS PRACTICES
</h3>
</div>

<div class="sustainpage1">
	<h1>Our Commitment</h1>
	<p>At Office Coffee Services, we're dedicated to providing you with the best quality of coffee and care in a way that is both good for communities and good for the environment. We've developed initiatives to reduce our fuel consumption and greenhouse gas (GHG) emissions, create more sustainable business practices, and provide our consumers with quality coffee that is sourced, roasted and distributed in responsible ways.</p>
</div>
<div class="sustainpage2">
	<h1>We Care</h1>
	<p>Office Coffee Solutions understands that your company has sustainable standards to meet and priorities to keep. That's why we offer you a wide range of responsible products to choose from. Whether you're searching for coffees that give back to their communities, cups that are compost-friendly or brewing systems that help to conserve energy, we have all the solutions to meet your needs.</p>
</div>

<div class="sustainpage3">
<h1>Progress</h1>
	<p>Eliminating the risks from toxic substances in the products we all use has always been a passion of ours, and today it is one of our top three environmental priorities. We continue to lead the industry in this area as we are committed to keeping both people and the environment healthy. That’s why we’ve removed many harmful substances from our product designs and go to great lengths to make sure they stay that way.</p>
</div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/jquery.vide.min.js"></script>
<script src="assets/js/functions.js"></script>

<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
    {% include footer.html %}

</html>