---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>
 <div class="whychoosewrap">
	
	<div class="whychoosehead">
	<h1>CHOOSE US</h1>
	<h3>Our brewers in the office can boost morale and satisfaction.</h3>
	
	</div>

			<div class="whychoose1">
				<h3>TOTAL COFFEE SOLUTION</h3>
				<p>As Canada's leading coffee service provider, we have a solution for every business type and need. No matter which industry you're in or how many people you employ or serve, we offer full-scale services that will cater to your unique requirements. </p>
				<a href="../yourbusiness.html">Learn more about our tailored solutions</a>
			</div>
			<div class="whychoose2">
				<h3>LOCAL ROOTS</h3>
				<p>With over 30 branches across Canada and more than 750 employees, we serve over 1 million cups every single day. Our national presence allows us to serve you in a timely, reliable manner, while our local roots give you a personalized, one-on-one approach.</p>
				<a href="../yourbusiness.html">Learn more about us</a>

			</div>
			<div class="whychoose3">
				<h3>SUSTAINABILITY COMMITMENT</h3>
				<p>Our unwavering commitment to developing sustainable practices and products defines every aspect of our operations. We take meaningful actions towards reducing our greenhouse gas emissions, developing more sustainable business practices and improving the lives of the coffee farming communities we're connected to. </p>
				<a href="../yourbusiness.html">Learn more about our commitment to sustainability</a>

			</div>
			<div class="whychoose4">
				<h3>BEST IN CLASS SERVICES</h3>
				<p>With service solutions to suit any business or preference, we offer an unmatched range of options that allows you to select the perfect solution for you. Whether you want the flexibility of ordering online or the convenience of a hands-free solution, we provide adaptable services that will cater to your schedule, meet your demands and satisfy your every need, guaranteed.</p>
				<a href="../yourbusiness.html">Learn more about our services</a>

			</div>
	
</div>
</div>
</body>
    {% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>