---
---

<!DOCTYPE html>
<html class="">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial scale=1">

    <title>Office Coffee Solutions</title>

<link rel="stylesheet" href="../assets/css/main.css">
<!--[if It IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<a class="button" href="#">&#9776;</a>
{% include header.html %}

<body>
 <div class="container1">

<div class="small"><a href="../smallbusiness.html"><span class="link-spanner"></span></a></div>

<div class="medium"><a href="../mediumbusiness.html"><span class="link-spanner"></span></a></div>

<div class="large"><a href="../largebusiness.html"><span class="link-spanner"></span></a></div>

</div>
</body>
    {% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>