.servicespagehero
	height: 28.5em
	h1
		font-family: $ocsType6
		color: $ocs-red
		font-size: 6em 
		+display(flex)
		+justify-content(center)
		margin: 0
		padding-top: 4%
		+tablet
			font-size: 4.5em

	h3
		+display(flex)
		+justify-content(center)
		font-size: 3em
		color: $ocs-red
		+mobile
			font-size: 2em

.calldelivery
	background-image: url('../css/bgimg/delivery.jpg')
	height: 28.5em
	background-position: 0 0
	background-repeat: no-repeat
	background-size: 40%
	margin-bottom: 2%
	+mobile
		height: 34em

	h3
		+display(flex)
		margin-left: 33%
		font-size: 5em
		+tablet
			font-size: 4em
	p
		+display(flex)
		margin-left: 33%
		font-size: 2em
		+tablet
			font-size: 1.5em

.routedservices
	background-image: url('../css/bgimg/routed.jpg')
	height: 28.5em
	background-position: 100% 0
	background-repeat: no-repeat
	background-size: 40%
	margin-bottom: 4%
	+mobile
		height: 37em


	h3
		+display(flex)
		font-size: 5em
		width: 70%
		+tablet
			font-size: 4em
	p
		+display(flex)
		font-size: 2em
		width: 70%
		+tablet
			font-size: 1.5em

.prewriteservices
	background-image: url('../css/bgimg/pre-write.jpg')
	height: 28.5em
	background-position: 0 0
	background-repeat: no-repeat
	background-size: 40%
	margin-bottom: 2%
	+mobile
		height: 34em


	h3
		+display(flex)
		margin-left: 33%
		font-size: 5em
		+tablet
			font-size: 4em
	p
		+display(flex)
		margin-left: 33%
		font-size: 2em
		+tablet
			font-size: 1.5em

.fullservice
	background-image: url('../css/bgimg/full-service.jpg')
	height: 28.5em
	background-position: 100% 0
	background-repeat: no-repeat
	background-size: 40%
	+mobile
		height: 34em


	h3
		+display(flex)
		font-size: 5em
		width: 70%
		+tablet
			font-size: 4em
	p
		+display(flex)
		font-size: 2em
		width: 70%
		+tablet
			font-size: 1.5em

.getstarted
	width: 100%
	h3
		+display(flex)
		+justify-content(center)
		font-size: 5em
		background-color: $ocs-black
		color: $ocs-white
		margin: 0
		text-transform: uppercase
	a
		+display(flex)
		font-size: 3em
		+justify-content(center)
		background-color: $ocs-red
		color: $ocs-white
		margin: 0
		margin-bottom: 2%
		text-transform: uppercase
		&:hover
			background-color: $ocs-black
			color: $ocs-red
