.susvidcontainer
	height: 48em
	overflow-x: hidden
	overflow-y: 5em
	+display(flex)
	+flex-direction(column)
	+tablet
		height: 40em
		margin-bottom: -10%
	+mobile
		height: 45em
		margin-bottom: -25%

	h1, h3
		font-family: $ocsType6
		font-size: 7.5em
		line-height: 0.8
		color: $ocs-white
		margin-top: 5%
		margin-bottom: 0.1%
		+align-self(center)
		+mobile
			font-size: 3em

	h3
		font-family: $ocsHeadFont
		font-size: 3em
		margin: 0.5%
		+mobile
			font-size: 2em

.suscontainer
	h1, p
		margin-left: 3%
	

.sustainpage1
	background-image: url('https://stocksnap.io/img-thumbs/960w/RIVZ4W6T02.jpg')
	height: 102vh
	background-size: cover
	background-repeat: no-repeat
	overflow-x: hidden
	overflow-y: auto
	+display(flex)
	+flex-direction(column)
	+justify-content(center)

	h1, p
		color: $ocs-white
		width: 33%
	h1
		text-transform: uppercase
		font-size: 4em
	p
		font-size: 1.5em

.sustainpage2
	background-image: url('https://stocksnap.io/img-thumbs/960w/G25L3SWY93.jpg')
	height: 102vh
	background-size: cover
	background-repeat: no-repeat
	overflow-x: hidden
	overflow-y: auto
	+display(flex)
	+flex-direction(column)
	+justify-content(center)

	h1, p
		color: $ocs-white
		width: 33%
	h1
		text-transform: uppercase
		font-size: 4em
	p
		font-size: 1.5em
.sustainpage3
	background-image: url('https://stocksnap.io/img-thumbs/960w/2E47BC9BC1.jpg')
	height: 102vh
	background-size: cover
	background-repeat: no-repeat
	overflow-x: hidden
	overflow-y: auto
	+display(flex)
	+flex-direction(column)
	+justify-content(center)

	h1, p
		color: $ocs-white
		width: 33%
	h1
		text-transform: uppercase
		font-size: 4em
	p
		font-size: 1.5em