<footer class="footer" role="contentinfo">
<div id="ocs_footer" class="logo_animate"></div>
  <div class="footer-links">
    <ul>
      <li><h3>YOUR BUSINESS</h3></li>
      <li><a href="javascript:void(0)">1-19 Employees</a></li>
      <li><a href="javascript:void(0)">20-49 Employees</a></li>
      <li><a href="javascript:void(0)">50+ Employees</a></li>
      <li><a href="javascript:void(0)">Services</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
      <li><a href="javascript:void(0)">Sustainability</a></li>
      <li><a href="javascript:void(0)">FREE TRIAL</a></li>
    </ul>
      
<ul>  
      <li><h3>OFFICE COFFEE SOLUTIONS</h3></li>
      <li><a href="javascript:void(0)">about us</a></li>
      <li><a href="javascript:void(0)">faq</a></li>
      <li><a href="javascript:void(0)">contact us</a></li>
      <li><a href="javascript:void(0)">newsletter</a></li>
</ul>
      
    <ul>
      <li><h3>FOLLOW US</h3></li>
      <li><a href="javascript:void(0)"> Facebook
</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
      <li><a href="javascript:void(0)">Pinterest</a></li>
      <li><a href="javascript:void(0)">Instagram</a></li>
    </ul>
      
  </div>

  <hr>

  <p>2015 Office Coffee Solutions.</p>
</footer>
