<div id="sidebar">
        <ul>
            <li><a href="http://www.google.com">HOME</a>
            </li>
            <li><a href="#">YOUR BUSINESS</a>
            </li>
            <li><a href="#">SERVICES</a>
            </li>
            <li><a href="#">PRODUCTS</a>
            </li>
            <li><a href="#">WHY OCS?</a>
            </li>
            <li><a href="#">SUSTAINABILITY</a>
            </li>
        </ul>
    </div>

    <div class="logo"><img src="../img/ocs-logo.svg"></div>
<header>
<nav>
<div class="nav-design" id="top">
    <a href="#">About Us</a>
    <a href="#">FAQ</a>
    <a href="#"><span class="homeCoffee">HOME COFFEE SOLUTIONS</span></a>
    <a href="#">Contact Us</a>
    <a href="#">Newsletter</a>
</div>
<div class="nav-design" id="bottom">
    <a href="#">Your Business</a>
    <a href="#">Why OCS?</a>
    <a href="#">Services</a>
    <a href="#">Products</a>
    <a href="#">Sustainability</a>

<span class="free-trial">
<a href="#">FREE TRIAL</a></span>
</div>
</nav>
</header>