<article class="article">
<div class="var-item1">	
<img src="../img/nespressocapsule.svg" alt="">
<h3>Variety</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, maiores quod ipsum maxime. Consequatur illum, dolorum labore odio atque eligendi praesentium. Alias nisi cupiditate explicabo omnis id eos corporis adipisci.</p>
<a href="#">Learn More</a>
  </div>

<div class="var-item2">
<img src="../img/tree62.svg" alt="">

<h3>Sustainability</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, maiores quod ipsum maxime. Consequatur illum, dolorum labore odio atque eligendi praesentium. Alias nisi cupiditate explicabo omnis id eos corporis adipisci.</p>
<a href="#">Learn More</a>
</div>

<div class="var-item3">
<img src="../img/nespresso.svg" alt="">

<h3>Equipment</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, maiores quod ipsum maxime. Consequatur illum, dolorum labore odio atque eligendi praesentium. Alias nisi cupiditate explicabo omnis id eos corporis adipisci.</p>
<a href="#">Learn More</a>

</div>
</article>