<div class="whychoosehero">
<div class="chooseherowrap">
	<h1>Why Choose Us?</h1>
	<h3>From our full range of coffee solutions to our dedicated one-on-one service, discover how we make your office happier and your life easier.</h3>
	<a href="#">Learn More</a>
	</div>
</div>

<div class="serviceshero">
<div class="servicesherowrap">
	<h1>Services</h1>
	<h3>From our full range of coffee solutions to our dedicated one-on-one service, discover how we make your office happier and your life easier.</h3>
	<a href="#">Learn More</a>
	</div>
</div>