<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" class="icon-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<g>
	<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="20,3.5 9.5,3.5 9.5,21.5 20,21.5 	"/>
	<g>
		<line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="11" y1="5.5" x2="19" y2="5.5"/>
		<g>
			<line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="16.5" y1="6" x2="16.5" y2="8"/>
			<line fill="none" stroke="#FFFFFF" stroke-miterlimit="10" x1="13.5" y1="6" x2="13.5" y2="8"/>
		</g>
	</g>
	<polygon fill="#FFFFFF" stroke="#FFFFFF" stroke-miterlimit="10" points="16.4,20.4 13.1,20.4 11.1,12 18.4,12 	"/>
	<polyline fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="18,13.5 20.5,13.5 20.5,17.5 17,17.5 	"/>
	<polyline fill="#FFFFFF" points="9,3 4,3 4,22 9,22 	"/>
</g>
</svg>
