.footer {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }
    
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: desaturate(darken($ocs-black, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($ocs-white, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 5em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-spacing * 2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1.9em;
    font-weight: 800;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

#ocs_footer {  
  @include animation(play 3s ease-in-out infinite);
}

.logo_animate {
  width: 243px;
  height: 87px;
  background: url('http://i.imgur.com/x4v7QkL.png');
  position: relative;
  left: 44%;
  margin-bottom: 1%;
  opacity: 1;

  @include tablet {
    left: 36.5%;
  }
  @include mobile {
    left: 28%;
  }
}

@-webkit-keyframes play {
  50% { opacity: 0.3;}
} 
@-moz-keyframes play {
  50% { background: url('http://i.imgur.com/Q7jV3PF.png');}
} 
@-ms-keyframes play {
  50% { background: url('http://i.imgur.com/Q7jV3PF.png');}
} 
@-o-keyframes play {
  50% { background: url('http://i.imgur.com/Q7jV3PF.png');}
} 

@keyframes play {
  50% { background: url('http://i.imgur.com/Q7jV3PF.png');}
} 
