.hero {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-radius: 3px !default;
    $base-accent-color: #477DCA !default;
    $large-screen: em(860) !default;
    //////////////////////////////////////////////////////////////////////////////////
    $hero-background-top: #7F99BE;
    $hero-background-bottom: #20392B;
    $hero-color: white;
    $gradient-angle: 10deg;
    $hero-image: "../css/bgimg/hero1.jpg";
    @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat center center $hero-background-top scroll);
    background-color: #324766;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 14em;

    .hero-logo img {
        width: 700px;
        padding: 5px;
        border: 5px solid transparent;

        &:hover {
            border: 5px solid $ocs-red;
            @include transition(border 0.7s ease-in-out);
        }
        @include media($large-screen) {
            margin-bottom: -2em;
        }
    }
    .hero-inner {
        @include outer-container;
        @include clearfix;
        color: $hero-color;
        margin: auto;
        padding: 3.5em;
        text-align: center;
        .hero-copy {
            text-align: center;
            h1 {
                font-size: 2.5em;
                margin-bottom: 0.5em;
                color: $ocs-white;
                @include media($large-screen) {
                    font-size: 3em;
                }
            }
            p {
                font-weight: 200;
                line-height: 1.4em;
                margin: 0 auto 3em auto;
                @include media($large-screen) {
                    font-size: 1.1em;
                    max-width: 40%;
                }
            } 
          }
        }
        button {
            @include button(flat, $base-accent-color);
            padding: 0.7em 1em;
        }
    }

.business_size {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    max-width: 1980px;
    margin: 0;
    @media screen and (max-width: 800px) {}
    background-color: $ocs-white;
}

.business_size h1 {
    font-size: 3em;
    margin-bottom: -0.1em;
    @include display(flex);
    @include justify-content(center);
    @media screen and (max-width: 800px) {
        font-size: 2.5em;
    }
}

.business_size p {
  @include display(flex);
  @include justify-content(center);
  font-size: 1.5em;
  margin-bottom: 3%;
}

.business_selector {
    @include display(flex);
    @include justify-content(center);
}

.business_selector img {
    width: 34%;
    height: 33%;
}

.choose_sustain {
    @include display(flex);
    @include flex-grow(1);
    background: yellow;
    @media screen and (max-width: 800px) {
        @include flex-direction(column);
    }
}

.learn_more {
    background: pink;
    @include align-self(flex-end);
}

.container1 {
@include display(flex);
@include justify-content(center);
font-size: 2em;
background-size: 100%;
padding-bottom: 3%;
background-color: $ocs-white;
width: 80%;
margin: 0% 10%;
}

.small, .medium, .large {
  width: 27%;
      height: 0;
      padding-bottom: 27%;
      background-position: 0 0;
      background-size: 100%;
      -webkit-transition: background-position 0.2s ease-in-out;
      transition: background-position 0.2s ease-in-out;
      @media screen and (max-width: 1000px) {
        width: 33%;
        padding-bottom: 30%;
    }


      &:hover {
        background-position: 0 100%;
      }
    }

.small {
      background-image: url('../css/bgimg/smallcompanyhover.svg');
      
    }

.medium {
      background-image: url('../css/bgimg/medcompanyhover.svg');
      margin-left: 5%;
    }

.large {
      background-image: url('../css/bgimg/50employeeshover.svg');
      margin-left: 5%;
    }
